.section1 {
  width: auto;
}
.aboutUs {
  background-color: red;
  width: 100vw;
}
.line1 {
  width: 90vw;
  height: 1vh;
  background-color: #283e95;
  position: absolute;
  top: 27vh;
  left: 8vh;
}

.bottom{
  position: absolute;
  bottom: 0;
}

