.imageContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 30vw;
 position: relative;
 top: 2vh;
  
  margin: 0%;
 
  z-index: -1;
}

.image {
  margin: 20px;
}

.textContainer {

  width: 69vw;
  position: relative;
  left: 30vw;
  top: -27vh;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  z-index: -1;
}

.seperation {
  margin: 10px;
  width: 60vw;
  height: 27vh;
  background-color: white;
  position: relative;
}

.headBox {
  background-color: white;
  font-size: 26px;
  color: #283e95;
  font-weight: 700;
}

.textBox {
  background-color: white;
  height: 20vh;
  font-size: 20px;
  color: #283e95;
}

.body {
  height: 100vh;
  width: 100vw;
}


