.imageContainer {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  width: 30vw;
  background-color: white;
  height: 100vh;
  margin: 0%;
  position: absolute;
  top: -100px;
  z-index: -1;
}

.image {
  margin: 20px;
}

.textContainer {
  background-color: white;
  width: 69vw;
  height: 100vh;
  position: absolute;
  top: -100px;
  right: 5vw;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  z-index: -1;
}

.seperation {
  margin: 10px;
  width: 60vw;
  height: 27vh;
  background-color: white;
  position: relative;
}

.headBox {
  background-color: white;
  font-size: 26px;
  color: #283e95;
  font-weight: 700;
}

.textBox {
  background-color: white;
  height: 20vh;
  font-size: 20px;
  color: #283e95;
}

.body {
  height: 100vh;
  width: 100vw;
}

.bottom{
  position: relative;
  top: 200vh;
}
