.body {
  height: 50vh;
  width: 100vw;
  position: relative;
}

.topLine {
  height: 1vh;
  width: 90vw;
  position: relative;
  left: 5vw;
  background-color: #283e95;
}
.line {
  height: 1vh;
  width: 12vw;

  background-color: #283e95;
}

.imageContainer {
  position: absolute;
  top: 5vh;
  left: 10vh;

  width: 30vw;
}

.infoContainer {
  list-style: none;
  position: absolute;
  right: 35vw;
  top: 5vh;
  font-size: 26px;
  font-weight: 500;
  color: #283e95;
}

.infoContainer2 {
  list-style: none;
  position: absolute;
  right: 5vw;
  top: 5vh;
  font-size: 26px;
  font-weight: 500;
  color: #283e95;
}
.head {
  font-size: 1.2em;
  font-weight: 600;
  color: #283e95;
}
.pill {
  background-color: #283e95;
  border: none;
  color: white;
  padding: 5px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 20px 2px;
  cursor: pointer;
  border-radius: 20px;
  width: 200px;
  height: 50px;
  position: relative;
  left: 100px;
  font-weight: 500;
  font-size: 26px;
}

.link {
  cursor: pointer;
}
