.container{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(2, 1fr);
   padding: 0%;
   box-sizing: border-box;
    height: auto;
    margin-bottom: 1px;
}

.box1{
    grid-column-start: span 3;
    
    
    padding: 0%;
    height: 20vw;
    margin: 5px;
}
.box2{
    grid-column-start: span 3;
    margin: 5px;
    height: 20vw;
}
.box3{
    grid-row-start: 2;
    grid-column-start: span 2;
   
    margin: 5px;
    height: auto ;
    position: relative;
    top: 50px;
}
.box4{grid-row-start: 2;
    grid-column-start: span 2;
    height: 16vw ;
    position: relative;
    top: 50px;
    margin: 5px;
    
}
    
.box5{grid-row-start: 2;
    grid-column-start: span 2;
    margin: 5px;
    height: 16vh ;
    position: relative;
    top: 50px;
}

@media screen and (max-width: 950px) {
    .container{
        height: 60vh;
    }
}

@media screen and (max-width: 800px) {
    .container{
        height: 50vh;
    }
    .box3{
        grid-row-start: 2;
        grid-column-start: span 2;
       
        margin: 5px;
        height: auto ;
        position: relative;
        top: 10px;
    }
    .box4{grid-row-start: 2;
        grid-column-start: span 2;
        height: 16vw ;
        position: relative;
        top: 10px;
        margin: 5px;
        
    }
        
    .box5{grid-row-start: 2;
        grid-column-start: span 2;
        margin: 5px;
        height: 16vh ;
        position: relative;
        top: 10px;
    }
}

@media screen and (max-width: 700px) {
    .container{
        height: 40vh;
    }
    .box3{
        grid-row-start: 2;
        grid-column-start: span 2;
       
        margin: 5px;
        height: auto ;
        position: relative;
        top: 10px;
    }
    .box4{grid-row-start: 2;
        grid-column-start: span 2;
        height: 16vw ;
        position: relative;
        top: 10px;
        margin: 5px;
        
    }
        
    .box5{grid-row-start: 2;
        grid-column-start: span 2;
        margin: 5px;
        height: 16vh ;
        position: relative;
        top: 10px;
    }
}

@media screen and (max-width: 500px) {
    .container{
        height: 30vh;
    }
    .box3{
        grid-row-start: 2;
        grid-column-start: span 2;
       
        margin: 5px;
        height: auto ;
        position: relative;
        top: 10px;
    }
    .box4{grid-row-start: 2;
        grid-column-start: span 2;
        height: 16vw ;
        position: relative;
        top: 10px;
        margin: 5px;
        
    }
        
    .box5{grid-row-start: 2;
        grid-column-start: span 2;
        margin: 5px;
        height: 16vh ;
        position: relative;
        top: 10px;
    }
}