.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: red;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  height: 8vh;

  width: 100vw;
}

.header {
  background-color: blueviolet;
  height: 10vh;
  position: relative;
}

.right {
  position: absolute;
  right: 19px;
  margin: 0%;
  padding: 0%;
}
.links {
  cursor: pointer;
  color: #283e95;
  font-size: 26px;
  font-weight: 500;
}

.navLinks {
  position: absolute;
  left: 10vw;
  display: flex;
  list-style-type: none;
  background-color: white;
  justify-content: space-between;
  width: 60%;
  margin: 0px;
  padding: 0%;
  transition: transform 0.5s ease;
}

.burger {
  color: white;
  margin: 5px;
  cursor: pointer;
  display: none;
}

.line1 {
  margin: 4px;
  height: 3px;
  background-color: #283e95;
}

.line2 {
  margin: 4px;
  height: 3px;
  background-color: #283e95;
}

.line3 {
  margin: 4px;
  height: 3px;
  background-color: #283e95;
}

.navActive {
  display: flex;
  list-style-type: none;
  background-color: white;
  justify-content: space-around;
  width: 40%;
  margin: 0px;
  padding: 0%;
}

@media screen and (max-width: 768px) {
  .burger {
    display: block;
    position: relative;
    right: 35vw;
    cursor: pointer;
    width: 30px;
    height: auto;
  }
  .navLinks {
    position: absolute;
    top: 8vh;
    left: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 59.7vh;
    transform: translateX(100%);
  }

  .navActive {
    position: absolute;
    top: 8vh;
    right: 0%;
    height: 59.7vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateX(0%);
    background-color: white;
    margin: 0%;
    width: 40%;
    list-style: none;
    padding: 0%;
    justify-content: space-around;
    transition: transform 0.5s ease;
  }
  .links {
    cursor: pointer;
    color: #283e95;
    font-size: 20px;
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
